{% extends 'layout.html' %}

{% block content %}

  <!-- about section -->

  <section class="about_section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 col-md-5 offset-md-1">
          <div class="detail-box">
            <h2>
              About Us
            </h2>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus hic, dolore error nulla similique cum minima rem, distinctio animi architecto inventore temporibus consequuntur quibusdam modi atque est fuga dicta quae!
            </p>
            <div>
              <a href="">
                Buy Now
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-7 col-md-5">
          <div class="img-box">
            <img src="static/images/about-img.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- end about section -->

  <!-- info section -->
  <section class="info_section layout_padding2">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="logo_detail">
            <div class="logo-box">
              <a class="navbar-brand" href="index.html">
                <span>
                  Sportpar
                </span>
              </a>
            </div>
            <p>
              There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
              in some form, by injected humour, or
            </p>
          </div>
        </div>
        <div class="col-md-4 col-lg-3 mx-auto">
          <div class="address_box">
            <h5>
              Adderess
            </h5>
            <a href="">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              passages of Lorem Ipsum available, but the majority have
            </a>
            <a href="">
              <i class="fa fa-phone" aria-hidden="true"></i>
              (+71) 1234567890
            </a>
            <a href="">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              demo@gmail.com
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_form">
            <h5>
              Newsletter
            </h5>
            <form action="">
              <input type="text" placeholder="Enter Your Email" />
              <button type="submit">
                Subscribe
              </button>
            </form>
          </div>
          <div class="social_box">
            <a href="">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info_section -->

  <!-- footer section -->
  <footer class="footer_section">
    <div class="container-fluid">
      <p>
        &copy; 2021 All Rights Reserved By
        <a href="https://html.design/">Free Html Templates</a>
      </p>
    </div>
  </footer>
  <!-- footer section -->


</body>



{% endblock content %}