{% extends 'layout.html' %}
{% block content %}
<br><br>
<div class="container">
    <table class="table table-sm">
        <thead>
            <th>No.</th>
            <th>Name</th>
            <th>Image</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody>
            {% for key, product in session['shoppingcart'].items() %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{product.name}}</td>
                <td>{{product.image}}</td>
                <td>{{product.price}}</td>
                <td>{{product.quantity}}</td>
                {% set subtotal = product.quantity|int * product.price|float %}
                <td>{{subtotal}}</td>
                <td><a href="#">Edit</a></td>
                <td> <a href="/deleteitem/{{key}}">Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h3>Total: ${{total}}</h3>
    <button type="submit" class="btn btn-secondary" data-toggle="button" onclick="location.href = '/checkout'">Checkout</button>
</div>
{% endblock content %}