{% extends 'layout.html' %}
{% block content %}


<section class="login_section">
  <div class="contact_container">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="contact_form layout_padding">
            <div class="heading_container heading_center">
              <h2>
                Login
              </h2>
            </div>
            <form method="POST" , action='' novalidate>
              {{ form.csrf_token }}
              <div class='form-group mb-3'>
                {{ form.email.label(class='form-label') }}
                {% if form.email.errors %}
                {{ form.email(class="form-control form-control-lg is-invalid", id="email") }}
                <div class="invalid-feedback">
                  {% for error in form.email.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
              </div>


              <div class='form-group mb-3'>
                {{ form.password.label(class='form-label') }}
                {% if form.password.errors %}
                {{ form.password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.password.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                {{ form.password(class="form-control form-control-lg") }}
                {% endif %}
                <small class="text-muted">
                  <a href="{{ url_for('reset_password') }}">Forgot Password?</a>
                </small>
              </div>

              <div class='form-group mb-3'>
                {{ form.token.label(class='form-label') }}
                {% if form.token.errors %}
                {{ form.token(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.token.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                {{ form.token(class="form-control form-control-lg") }}
                {% endif %}
              </div>

              <small class="text-muted" id="">
                {{ form.remember(class='form-check-input') }}
                {{ form.remember.label(class="form-check-label") }}
              </small>
              <br><br>


              <div class="btn-box">

                {{ form.submit(class='btn btn-secondary') }}

              </div>
              <input id="addPasskeyBtn" style="display: none" class="btn btn-secondary mt-4" onclick="gen_auth_opts()"
                name="passkey" type="button" value="Sign In with Passkey">
              <script>
                // check if browser supports passkey
                function base64DecodeURL(b64urlstring) {
                  return new Uint8Array(atob(b64urlstring.replace(/-/g, '+').replace(/_/g, '/')).split('').map(val => {
                    return val.charCodeAt(0);
                  }));
                }

                function base64EncodeURL(byteArray) {
                  return btoa(Array.from(new Uint8Array(byteArray)).map(val => {
                    return String.fromCharCode(val);
                  }).join('')).replace(/\+/g, '-').replace(/\//g, '_').replace(/\=/g, '');
                }

                async function gen_auth_opts() {

                  const email = document.getElementById("email").value;
                  
                  // send request to route
                  const data = await (await fetch("/generate_authentication_options?email=" + email)).json().catch(() => window.location.reload())
                  data.challenge = base64DecodeURL(data.challenge);

                  // formatting stuff
                  data.allowCredentials = data.allowCredentials.map((cred) => {
                    return {
                      ...cred,
                      id: base64DecodeURL(cred.id)
                    }
                  })
                  
                  // passkey or fingerprint popup when login
                  try {
                    const credential = await navigator.credentials.get({
                      publicKey: data
                    });
                    
                    // server checks fingerprint data
                    if (credential) {
                      let data = await (await fetch("/verify_authentication", {
                        method: "POST",
                        headers: {
                          'Accept': 'application/json',
                          'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                          authenticatorAttachment: credential.authenticatorAttachment,
                          id: credential.id,
                          rawId: base64EncodeURL(credential.rawId),
                          response: {
                            authenticatorData: base64EncodeURL(credential.response.authenticatorData),
                            clientDataJSON: base64EncodeURL(credential.response.clientDataJSON),
                            signature: base64EncodeURL(credential.response.signature),
                            userHandle: base64EncodeURL(credential.response.userHandle)
                          },
                          type: credential.type,
                          email
                        })
                      })).text();
                      window.location.href = data;
                    }
                  } catch (err) {
                    console.log(err);
                    alert("Operation cancelled");
                  }
                }

                (function () {
                  const isAvailable = window.PublicKeyCredential
                    && window.PublicKeyCredential.isUserVerifyingPlatformAuthenticatorAvailable
                    && window.PublicKeyCredential.isConditionalMediationAvailable;

                  if (isAvailable) {

                    Promise.all([
                      window.PublicKeyCredential.isUserVerifyingPlatformAuthenticatorAvailable(),
                      window.PublicKeyCredential.isConditionalMediationAvailable()
                    ]).then((res) => {
                      const isAllTrue = res.every((r) => r === true);
                      document.getElementById("addPasskeyBtn").style.display = "block"
                    });

                  }
                })()
              </script>
            </form>
            <br>
            <div class='container text-center'>
              <small class="text-muted">
                New to this site? Register<a class="ml-2" href="register">here</a>
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</section>

<!-- line 38:{{ url_for('reset_password') }}
    line 55: {{ url_for('register') }} -->

{% endblock content %}